$color-light-green: #00ab64;
$color-dark-green: #007846;

$color-black: #000;
$color-gray: #3d3d3d;
$color-dark-gray: #151515;

$color-white: #fff;

$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 5rem;