.search-form {
  margin: 0 auto;
  font-size: 1.8rem;
  width: 85%;

  @include respond (tab-land) {
    width: 100%;
    //font-size: 1.8rem;
  }

  @include respond (tab-port) {
    width: 100%;
    font-size: 1.5rem;
  }

  input {
    width: 70%;
    height: 4rem;
    padding-left: 1rem;
    outline: 0;
    border-width: 0 0 .2rem;
    border-color: $color-dark-gray;
    color: $color-gray;
    font-size: inherit;

    @include respond(tab-port) {
      width: 65%;
    }

    @include respond(phone) {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  button {
    width: 25%;
    height: 4.5rem;
    border: none;
    background-color: $color-light-green;
    color: $color-white;
    font-size: inherit;
    border-radius: .5rem;
    text-transform: uppercase;

    @include respond(tab-port) {
      width: 28%;
    }

    @include respond(phone) {
      width: 50%;
      margin-top: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-dark-green;
    }

    &:focus {
      outline: 0;
    }
  }
}